# Скомпилированные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
*.app
*.dmg
*.deb
*.tar.xz

# Папки сборки
bin/
dist/
build/
fyne-cross/

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Логи и временные файлы
*.log
*.tmp

# Зависимости (если используете модули)
# vendor/ - если используете vendor, раскомментируйте